* {
    margin: 0;
    padding: 0;
}

.logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: right;
}

.logo img {
    width: 30%;
    border: 3px solid white;
    border-radius: 60px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}

.nav-list {
    width: 50%;
    /* background-color: rgb(16, 17, 14); */
    display: flex;
    align-items: center;
}

.nav-list li {
    list-style: none;
    padding: 23px 35px;
}

.nav-list li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.nav-list li a:hover {
    text-decoration: none;
    color: rgb(38, 0, 255);
}

.rightnav {
    width: 50%;
    text-align: right;
    padding: 0 24px;
    /* background-color: aqua; */
}

#search {
    padding: 3px;
    font-size: 13px;
    border: 2px solid grey;
    border-radius: 6px;
}

.background {
    /* background: rgba(0, 0, 0, 0.7) url('../image/backgroundgb.webp'); */
    background-size: cover;
    background-blend-mode: darken;
    background-image: url('../image/sovanbg.jpg');
}

.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
    height: 74%;
}

.firstsection {
    height: 100vh;

}

.firsthalf {
    width: 87%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 56px;

}

.secondhalf {
    width: 48%;
}

.secondhalf img {
    width: 60%;
    border: 2px solid white;
    border-radius: 150px;
    display: block;
    margin: auto;
}

.text-big {
    font-size: 41px;
}

.text-small {
    font-size: 14px;
}

.btn {

    padding: 6px 24px;
    margin: 8px 2px;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 14px;
    background: none;
    color: white;
    cursor: pointer;

}

.btn:hover {

    color: rgb(255, 0, 140);

}

.btnsubmit {

    color: black;
    border: 2px solid gray;

}

.btn-sm {

    padding: 4px 16px;
    vertical-align: middle;


}


.thumbail img {

    width: 325px;
    border: 2px solid black;
    border-radius: 30px;
    margin-top: 46px;
}


/* .imgBook {

    width: 300px;
    padding: 0px 36px;
  

} */








.book {

    height: 316px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 80%;
    margin: auto;

}

.sectionTag {

    font-size: 40px;
    padding: 20px 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 240);
}

.sectionSubTag {

    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 2px 39px;

}









.nature {

    height: 316px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 80%;
    margin: auto;
    flex-direction: row-reverse;
}

.sectionTag1 {

    font-size: 40px;
    padding: 20px 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 0, 128);

}

.sectionSubTag1 {

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 2px 39px;

}










.earth {

    height: 316px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 80%;
    margin: auto;

}

.sectionTag2 {

    font-size: 40px;
    padding: 20px 40px;
    font-family: sans-serif;
    color: rgb(0, 255, 55);

}

.sectionSubTag2 {

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 2px 39px;

}









.contact {

    background-color: #e7e5e4;
    height: 70vh;
 

}

.Contactus {

    text-align: center;
    padding: 8px 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(4, 0, 255);
    cursor: pointer;
}

.Contactus:hover {

    color: rgb(255, 0, 191);
}

.form {

    max-width: 1200px;
    margin: 12px auto;

} 

.form input {

    width: 100%;
    height: 2vh;
    font-size: 16px;
    border: 2px solid gray;
    border-radius: 10px;
    margin: 8px 0;
    padding: 4px 14px;

}

.form textarea {

    width: 1200px;
    font-size: 20px;
    border: 2px solid gray;
    margin: 8px 0;
    padding: 4px 14px;
    border-radius: 8px;


}


.text-footer {

    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: center;
    color: azure;
    padding: 6px 0;
    cursor: pointer;

}


.bgground {

    background-color: teal;

}

@media only screen and (max width: 1292px)
{

.nav-list{

flex-direction: column;

}

}